doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title TODO
    link(rel="stylesheet" href="assets/styles/base.css")
  body
    section#todoapp
    script(src="assets/scripts/bundle.js")
